@use "./../../variables" as *;
footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  background: $color_bg_sec2;
  margin-top: 1em;
  width: 100%;
  border-radius: $border_radius;
  max-width: 1200px;
  border-left: 1px solid $color_bg_sec;
  border-right: 1px solid $color_bg_sec;

  @media screen and (min-width: $large) {
    padding-top: 4em;
  }
}
.footerSocial {
  display: flex;
  flex: 3;
  width: 100%;
  gap: 32px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 3em 1.5em;
  svg {
    color: $color_heading;
    transform: scale(2);
  }
  .footerLogo {
    width: 100%;
    display: flex;
    justify-content: center;
    img {
      width: 70%;
    }
  }

  @media screen and (min-width: $large) {
    .footerLogo {
      img {
        width: 50%;
      }
    }
    strong {
      font-size: $font-l;
    }
  }
}
.copyright {
  border-top: $border_home;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    text-align: center;

    @media screen and (min-width: $large) {
      font-size: $font-l;
    }
  }
}
