@use "./../../variables" as *;

#projects {
  padding-top: unset;

  .projectWrapper {
  }
}

.projectContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.tort {
  flex: 1 0 calc(50% - 4px);
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    position: static !important;
  }

  &:hover {
    img {
      transform: scale(1.1);
    }
  }

  @media screen and (min-width: $small) {
    flex: 1 0 calc(30%);
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modalContent {
    position: relative;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 95%;
    height: 60%;

    img {
      max-width: 100%;
      height: auto;
      margin-bottom: 10px;
      object-fit: contain;
      filter: saturate(1.2) contrast(1.1);
    }
  }

  .closeBtn {
    position: relative;
    bottom: 32px;
    color: white;
    border: none;
    background: $color_alt_brand;
    padding: 1em 2em;
    cursor: pointer;

    &:hover {
      background: $color_brand;
    }
  }

  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: $border_radius;
    padding: 0.5em;
    cursor: pointer;
    z-index: 2;

    &:hover {
      background: rgba(0, 0, 0, 0.8);
    }
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }
}
