// Font sizes
$font-xxs: 0.5em;
$font-xs: 0.7em;
$font-s: 0.85em;
$font-m: 1em;
$font-l: 1.25em;
$font-xl: 1.5em;
$font-xxl: 2em;
// Window sizes
$xsmall: 430px;
$small: 768px;
$medium: 990px;
$large: 1200px;
$xl: 1920px;

// Colors
$color_bg: #fff7eb;
$color_bg_sec: #ffdbdb;
$color_brand: #e63946;
$color_alt_brand: #f1b0b7;
$color_heading: #5b3a29;
$color_text: #4a4a4a;
$color_accent: #e8b44a;
$color_accent_sec: #a8d5ba;
$color_border: #f1a7c6;

// Borders
$border_home: 1px solid $color_border;
$border_radius: 10px;
