@use "./variables" as *;
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    background: $color_bg_sec2;
    max-width: 1200px;
    &:first-child {
      padding: 0;
    }

    p {
      font-size: $font-m;
      padding: 0 2em;
      text-align: center;
      @media screen and (min-width: $small) {
        font-size: $font-l;
      }
    }

    h2,
    h3 {
      padding-left: unset;
      padding-right: unset;
      text-align: center;
      text-transform: uppercase;
      z-index: 10;
    }
    h2 {
      margin: 1em auto;
    }
    h3 {
      font-weight: 600;
    }
    ul {
      padding: 2em;
      text-align: center;
      font-size: $font-m;
      display: flex;
      flex-wrap: wrap;
      gap: 1em;
    }
  }
}
