@use "../../variables" as *;

header {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: $large;
  height: 50px;

  backdrop-filter: blur(10px);

  .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50px;
    svg {
      transform: scale(1.25);
      color: $color_brand;
      transition: 0.3s transform, 0.1s color;
      background: $color_bg_sec;
      border-radius: 8px;
      &:hover {
        transform: scale(1.42);
        color: $color_brand;
      }
    }
  }

  .logo {
    width: 100px;
    height: 50px;
    a {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
      }
    }
  }
  .burgerMenu {
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    width: 50px;

    .menuLine {
      height: 2px;
      width: 24px;
      background: $color_brand;
      border-radius: 10px;
    }

    &.active {
      gap: 0;
      .menuLine {
        position: absolute;
        &:nth-child(1) {
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          transform: rotate(-45deg);
        }
        &:nth-child(3) {
          display: none;
        }
      }
    }
  }
}
.mobileMenu {
  position: fixed;
  background: rgba(255, 255, 255, 1);
  border-top: 1px solid $color_alt_brand;
  backdrop-filter: blur(10px);
  width: 100%;
  height: max-content;
  top: 50px;
  transform: translateY(-100%);
  z-index: 100;
  opacity: 0;
  transition: 0.3s ease-in;

  &.active {
    opacity: 1;
    transform: translateY(0);
  }

  ul {
    display: flex;
    justify-content: space-evenly;
    font-size: $font-l;
    font-weight: 700;
    padding: 0.75em 0em;
    li {
      color: $color_brand;
    }
  }

  @media screen and (min-width: $small) {
    width: max-content;

    background: transparent;
    backdrop-filter: unset;
    ul {
      gap: 2em;
    }

    &.active {
      z-index: 999;
      opacity: 1;
      transform: translateY(-100%);
    }
  }
}
