@use "../../_variables" as *;

$scrollTop: 2.5em;

.scroll-top {
  position: fixed;
  bottom: $scrollTop;
  right: $scrollTop;
  z-index: 900;
  opacity: 0.7;
  outline: 0;
  border: 1px solid $accent1;
  background: $mountmeadow;
  padding: 1em;
  font-size: 0.5em;
  border-radius: 1em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    transform: translateY(-5px);
  }
}
